.parent_userdata_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
th,tr,td{
    border: 1px solid black;  
}
th{
    background-color:black;
    color: white;
}
tr{
    font-weight: 500;
}

.profile_div{
    display: flex;
}
.profile_header_div1{
    display: flex;
    border: 1px solid black;
}
.user_profileData_div{
    display: flex;
    border: 1px solid black;
}